<div>
  <div class="{{cn.fields}}">
    {{{emailInput}}}
    {{{loginInput}}}
    {{{firstNameInput}}}
    {{{secondNameInput}}}
    {{{displayNameInput}}}
    {{{phoneInput}}}
  </div>
  <div class="{{cn.buttons}}">
    {{{saveButton}}}
  </div>
</div>
