<div>
  <div class="{{cn.fields}}">
    {{{oldPasswordInput}}}
    {{{newPasswordInput}}}
    {{{newPasswordAgainInput}}}
  </div>
  <div class="{{cn.buttons}}">
    {{{saveButton}}}
  </div>
  {{{incorrectPopup}}}
</div>
