<div class="{{cn.wrapper}}">
  <div class="{{cn.title}}">
    Вы уверены, что хотите выйти из аккаунта?
  </div>
  <div class="{{cn.buttons}}">
    {{{cancelBtn}}}
    {{{logoutBtn}}}
  </div>
</div>
