<div class="{{cn.wrapper}}">
  <div class="{{cn.topButtonsWrapper}}">
    {{{createChatBtn}}}
    {{{profileBtn}}}
  </div>
  <div class="{{cn.cards}}">
    {{#each cardsComponents}}
      {{{this}}}
    {{/each}}
  </div>
</div>
