<div class="{{cn.wrapper}}">
  <h1>
    Здесь будет страница с чатом и лентой переписки
  </h1>
  <br />
  <main class="{{cn.buttons}}">
    {{{btnAuth}}}
    {{{btnRegister}}}
    {{{btnSettings}}}
    {{{btn404}}}
    {{{btn500}}}
    {{{btnModal}}}
  </main>
</div>