 <div class="{{cn.outerWrapper}}">
   <div class="{{cn.topDivider}}"></div>
 <div class="{{cn.wrapper}} {{#if selected}} {{cn.selected}}{{/if}}">
 <div class="{{cn.container}} {{#if selected}} {{cn.selected}}{{/if}}">
  {{#if avatar}}
    <img src="{{avatar}}" class="{{cn.avatarContainer}}">
  {{else}}
    <div class="{{cn.avatarContainer}}"></div>
  {{/if}}
  <div class="{{cn.messageContainer}}">
    <div class="{{cn.messageAuthor}}">{{chat.title}}</div>
    <div class="{{cn.messageContent}}">{{chat.last_message.content}}</div>
  </div>
  <div class="{{cn.dateAndNotifier}}">
    <div class="{{cn.date}}">{{time}}</div>
    {{#if notify}}<div class="{{cn.notifier}}">{{chat.unread_count}}</div>{{/if}}
  </div>
</div>
</div><div class="{{cn.divider}}"></div>
</div>
