<div class="{{cn.wrapper}}">
  {{#unless chat}}
    <div class="{{cn.stub}}">
      Выберите чат чтобы отправить сообщение
    </div>
  {{/unless}}
  {{#if chat}}
    <div class="{{cn.header}}">
      <div class="{{cn.chatInfo}}">
        {{#if avatar}}
          <img src="{{avatar}}" class="{{cn.avatarContainer}}" />
        {{else}}
          <div class="{{cn.avatarContainer}}"></div>
        {{/if}}
        <div class="{{cn.chatName}}">
          {{chat.title}}
        </div>
        {{#if currentChatUsersCount}}
          <div class="{{cn.usersCount}}">
            Пользователей в чате:
            {{currentChatUsersCount}}
          </div>
        {{/if}}
      </div>
      <div class="{{cn.actions}}">
        {{{addUserBtn}}}
        {{{removeUserBtn}}}
      </div>
    </div>
    <div class="{{cn.chatContent}}">
      {{#each messageComponents}}
        {{{this}}}
      {{/each}}
    </div>
    {{{messageInput}}}
  {{/if}}
</div>