<div class="{{cn.wrapper}}">
  <main class="{{cn.content}}">
    <h1 class="{{cn.title}}">
      {{title}}
    </h1>
    <div class="{{cn.inputs}}"></div>
    <div class="{{cn.buttons}}"></div>
  </main>
</div>