<div class="{{cn.wrapper}}">
  <main class="{{cn.content}}">
    <h1 class="{{cn.title}}">
      Вход
    </h1>
    <div class="{{cn.inputs}}">
      {{{loginInput}}}
      {{{passwordInput}}}
    </div>
    <div class="{{cn.buttons}}">
      {{{loginBtn}}}
      {{{registerBtn}}}
    </div>
  </main>
</div>