<div class="{{cn.wrapper}}">
  <main class="{{cn.content}}">
    <h1 class="{{cn.title}}">
      Регистрация
    </h1>
    <div class="{{cn.inputs}}">
      {{{emailInput}}}
      {{{loginInput}}}
      {{{firstNameInput}}}
      {{{secondNameInput}}}
      {{{phoneInput}}}
      {{{passwordInput}}}
      {{{passwordAgainInput}}}
    </div>
    <div class="{{cn.buttons}}">
      {{{registerBtn}}}
      {{{loginBtn}}}
    </div>
  </main>
</div>
