<div class="{{cn.wrapper}}">
  <div class="{{cn.back}}">
    <img src="{{backIcon}}" class="{{cn.backIcon}}" />
  </div>
  <main class="{{cn.content}}">
    <div class="{{cn.avatarContainer}} {{#if avatarWithHover}} {{cn.avatarContainerWithHover}} {{/if}}">
      <img src="{{avatar}}" class="{{cn.avatar}}" />
    </div>
    {{{currentComponent}}}
  </main>
</div>
