<div class="{{cn.card}}
  {{#switch type}}
  {{#case 'received'}} {{cn.received}} {{/case}}
  {{#case 'sent'}} {{cn.sent}} {{/case}}
  {{/switch}}"
>
  {{content}}
  <div class="{{cn.time}}">
    {{#if showIcon}}
      <div class="{{#if readed}}{{cn.readed}}{{else}}{{cn.notReaded}}{{/if}}"></div>
    {{/if}}
    {{time}}
  </div>
</div>
