<div class="{{cn.card}}
  {{#switch type}}
  {{#case 'received'}} {{cn.received}} {{/case}}
  {{#case 'sent'}} {{cn.sent}} {{/case}}
  {{/switch}}"
>
  {{content}}
  <div class="{{cn.time}}">
    {{#if showIcon}}
      <img src="{{#if readed}}{{readedIcon}}{{else}}{{notReadedIcon}}{{/if}}" class="{{cn.readedStatus}}">
    {{/if}}
    {{time}}
  </div>
</div>
