<div class="{{cn.wrapper}}">
  <button class="{{cn.attachButton}}"></button>
  <input class="{{cn.input}} {{#if notValid}}{{cn.notValid}}{{/if}}" placeholder="Сообщение" name="message" type="text" />
  <button class="{{cn.sendButton}}" {{#if notValid}}disabled{{/if}}></button>
</div>
