<div class="{{cn.wrapper}}">
  <input class="{{cn.input}} {{#if notValid}}{{cn.notValid}}{{/if}}" placeholder="Сообщение" name="message" type="text" />
  <button class="{{cn.sendButton}}" {{#if notValid}}disabled{{/if}}>
    <img src="{{sendIcon}}">
  </button>
</div>
